:root {
  --primary-color: #12192a;;
  --secondary-color: #7bbb9b;
  --tertiary-color: #ecf0f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: var(--primary-color);
  background-color: var(--tertiary-color);
}

/* begin header styles */
header {
  background-color: var(--primary-color);
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

header h1 {
  background-color: var(--secondary-color);
  font-weight: bold;
  font-size: 36px;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  border-radius: 8px;
}

header h1 a {
  color: var(--primary-color);
}

header h1 a:hover {
  color: var(--primary-color);
}

header a {
  text-decoration: none;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100%;
  margin-top: 15px;
  height: 60px;
}

header nav ul li a {
  padding: 1px 5px;
  margin: 10px;
  color: var(--secondary-color);
  border-bottom: solid 3px var(--secondary-color);
  font-size: 20px;
}

header nav ul li a:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 4px;
}
/* end header styles */

/* begin hero styles */
.hero {
  background-image: url("..//images/DNA-puzzle.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-origin: border-box;
  background-position: center;
  padding: 0 25px 25px;
  height: 390px;
}

.hero h2 {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 10px;
  font-size: 24px;
  margin-bottom: 15px;
  width: 85%;
  border-radius: 8px;
}

.hero img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin: 25px 25px 30px 25px;
}
/* end hero styles */

/* begin about me styles */
.intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--tertiary-color);
}

.intro p {
  text-align: center;
  font-size: 16px;
  width: 85%;
  margin: 0 auto;
  line-height: 1.3;
}
/*end about me section styles */

/* all section titles */
.section-title {
  font-size: 36px;
  color: var(--primary-color);
  border-bottom: solid 3px var(--primary-color);
  padding-bottom: 10px;
  text-align: center;
  margin: 10px auto 20px auto;
  width: 90%;
}

/* begin projects section styles */
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--tertiary-color);
}

.project-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--tertiary-color);
  width: 100%;
}

.btn-primary {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-primary:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.project {
  /* position: relative;
  width: 95%;
  height: 100px; */
  margin-bottom: 20px;
}

/* .project img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  object-position: left top;
  filter: grayscale(70%);
  border: 3px solid var(--secondary-color);
}

.project img:hover {
  filter: none;
} */

/* .project-info {
  position: absolute;
  bottom: 10px;
  left: 0;
  background-color: var(--secondary-color);
  padding: 5px 10px;
}

.project-info h4 {
  font-size: 24px;
  color: var(--primary-color);
}

.project-info p {
  font-size: 16px;
  color: var(--primary-color);
}

.project:nth-child(1) {
  height: 300px;
} */
/* end projects section styles */

/* begin contact section styles */
.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--tertiary-color);
}

.contact-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contact a {
  font-size: 20px;
  color: var(--primary-color);
  text-decoration: none;
  padding: 1px 5px;
  margin: 10px;
  border-bottom: 3px solid var(--primary-color);
}

.contact a:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 5px;
}
/* end contact section styles */

/* Media queries for tablets and larger */
@media screen and (min-width: 575px) {
  header nav {
    width: 100%
  }

  header nav ul {
    justify-content: space-evenly;
  }
}

/* Media queries for tablets and small desktops and larger*/
@media screen and (min-width: 768px) {
  .hero {
    justify-content: space-between;
    height: 350px;
  }

  .hero h2 {
    width: 50%;
    align-self: flex-end;
  }

  /* .project {
    width: 46%;
    margin: 0 10px 20px;
  }

  .project:nth-child(1) {
    width: 95%;
  } */

  .section-title {
    width: 70%;
  }
}

/* Media queries for desktops and larger */
@media screen and (min-width: 980px) {
  header {
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  header h1 {
    width: auto;
    padding: 10px 20px 10px 60px;
    margin: 20px 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  header nav {
    width: 50%;
  }

  header nav ul {
    width: auto;
    margin: 0;
  }

  .hero {
    padding: 20px 50px;
  }

  .hero img {
    width: 250px;
    height: 250px;
  }

  .section-title {
    width: 18%;
    border-bottom: none;
    text-align: right;
    padding: 10px 0 10px 25px;
    margin: 20px 5px;
  }

  .intro p {
    width: 77%;
    padding: 10px 20px;
    margin: 20px 10px;
    border-left: 3px solid var(--primary-color);
    text-align: left;
  }

  .project-box {
    width: 77%;
    padding: 10px;
    margin: 20px 10px;
    border-left: 3px solid var(--primary-color);
  }

  .contact-links {
    width: 77%;
    justify-content: space-evenly;
    padding: 10px;
    margin: 20px 10px;
    border-left: 3px solid var(--primary-color);
  }

  .contact a {
    margin: 10px;
  }
}